<div id="<%= dom_id comment %>" class="bg-gray-100 shadow-md rounded px-8 pt-6 pb-8 mb-4 ml-10">
  <div class="grid grid-cols-12">
    <div class="cols-span-1 ">
      <div class="grid grid-rows-3 justify-items-center">
      <%= button_to "▲", post_comment_upvote_path(@post, comment), method: :post %>
        <%= comment.get_upvotes.size - comment.get_downvotes.size %>
      <%= button_to "▼", post_comment_downvote_path(@post, comment), method: :post %>
      </div>
    </div>
    <div class="cols-span-1">
      <h4 class="text-sm">u/<%= comment.user.username %></h4>
    </div>
  </div>
  <br>
  <p class="text-m"><%= comment.content %></p>
  <%= render "comments/replies" %>
</div>