<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
    <div class="m-5 bg-gray-100 shadow-md rounded px-8 pt-6 pb-8 mb-5 grid grid-cols-5">
      <div class="column">
        <% if @user.pfp == nil %>
              <div class="m-2">
                <%= image_tag("nopfp.webp", size: "180x180") %>
              </div>
            <% else %>
              <div class="m-2">
                <%= image_tag(@user.pfp) %>
              </div>
            <% end %>
      </div>
      <div class="column ml-3">
        <p class="mt-2 text-3xl"><%= @user.username %></p>
        <p class="mt-5">Reputation: <%= @user.reputation %></p>
        <p class="mt-2">Posts: <%= @user.posts.count %></p>
      </div>
    </div>

    <div id="posts" class="mx-auto md:w-3/3 w-3/3">
      <% @user.posts.each do |post| %>
        <%= render 'posts/anonymous_post', post: post %>
      <% end %>
    
    </div>


</div>