<%= turbo_frame_tag id="new_post" do %>
  <div data-controller="form" class="w-full mx-auto mb-10 bg-gray-100 px-10 pb-10 pt-10">
    <%= form_with(model: post, class: "contents", data: {'form-target': 'form'}) do |form| %>
      <% if post.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% post.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="ml-10">
        <%= form.select :clique_id, current_user.cliques.collect { |clique| [clique.title, clique.id] }, prompt: "Choose a community" %>
      </div>

      <div class="mt-5">
        <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder: "Add a title!", html: { autocomplete: "off" } %>
      </div>

      <div class="my-5">
        <%= form.text_field :content, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder: "What's on your mind?", html: { autocomplete: "off" } %>
      </div>

      <div class="inline">
        <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer", 'data-action': 'form#reset' %>
      </div>
    <% end %>
  </div>
<% end %>
