<div id="<%= dom_id post %>" class="bg-gray-100 shadow-md rounded px-8 pt-6 pb-8 mb-5">
  <div class="grid grid-cols-12">
    <div class="cols-span-1 ">
      <div class="grid grid-rows-3 justify-items-center">
      <%= button_to "▲", post_upvote_path(post), method: :post %>
        <%= post.get_upvotes.size - post.get_downvotes.size %>
      <%= button_to "▼", post_downvote_path(post), method: :post %>
      </div>
    </div>
    <div class="cols-span-1">
      <h1 class="text-xl"><%= link_to post.title, post_path(post), data: { turbo_frame: "_top" } %></h1>
      <h4 class="text-sm">c/<%= link_to post.clique.title, clique_path(post.clique), data: { turbo_frame: "_top" } %></h4>
      <% if post.clique.members.include?(current_user) || post.clique.administrators.include?(current_user) %>
        <h4 class="text-sm">u/<%= link_to post.user.username, user_path(post.user), data: { turbo_frame: "_top" } %></h4>
      <% else %>
        <h4 class="text-sm">u/Anonymous</h4>
      <% end %>
    </div>
  </div>
  <br>
  <p class="text-m"><%= link_to post.content, post_path(post), data: { turbo_frame: "_top" } %></p>

</div>


