<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= button_to "Create a Clique!", new_clique_path, method: "get", class: "mb-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
  
  <%= turbo_frame_tag "new_post", src:new_post_path %>
  
  <div id="posts" class="min-w-full">
      <% @posts.each do |post| %>
        <%= turbo_frame_tag "post" do %>
          <%= render 'post', post: post %>
        <% end %>
      <% end %>
  </div>
</div>